@font-face {
    font-family: fonteViada;
    src: url(Fonte.ttf);
}
body {
   
    font-family: "fonteViada";
}
#bg { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

.center{
  position:fixed;
  left:50%;
  
  top: 10%;
}
.center .itens{
  position:relative; 
  left:-50%;
  /*popup-styles*/
  padding:10px;
}
.botao{
	background-color: #6e1c17;
	color: #f7e4a4;
	border: 2px solid #6e1c17;
	text-align: center;
	padding-bottom: 10px ; 
	padding-top: 10px;
	margin-top: 15px;
	font-family: 'fonteViada';
}